<div class="tags-cloud">
  <h3>Filter by Tags </h3>
  <a href="/channels/{{channel}}">Clear Filter</a>
  <div>
    <span *ngFor="let tag of tags">
      <app-tag-item (selectToggled)="onTagClick($event)" [selected]="tag.isSelected" value="{{tag.value}}">
      </app-tag-item>
    </span>
  </div>
</div>