.card {
    border: none;
    border-radius: 4px;
    max-width: 100%;
    cursor: pointer;
    height: 100%;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);

    .card-header {
      background-color: white;
      padding: 0px;
      border: none;
    }

    .card-body {
      padding: 15px 5px 15px 5px;
    }

    .card-footer {    
       margin-top: 5px; 
       background-color: white;
       padding: 0px;
      border: none;
    }
}

.card:hover {
    /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.tag-item {
  padding: 4px 8px;
  margin: 2px 2px;
  font-weight: 500;
  cursor: pointer;
}