<div class="dashboard">
    <div class="container mt-2">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4><b>5 CHANNELS</b></h4>
                            </div>
                            <div class="col-lg-6">
                                <img src="../../../../assets/images/group.jpg" class="dashboardIcons" alt="">
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4><b>
                                    100 AUDIO FILES
                                </b>
                                </h4>
                            </div>
                            <div class="col-lg-6">
                                <img src="../../../../assets/images/mice.jpg" class="dashboardIcons" alt="">
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4><b>100 AUDIO TAGS</b></h4>
                            </div>
                            <div class="col-lg-6">
                                <img src="../../../../assets/images/tag.jpg" class="dashboardIcons" alt="">
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-6 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h3 style="text-align: center;"><b>Upload Files</b></h3>
                        <!-- <img   accept=".png, .jpg, .jpeg" src="../../../../assets/images/uploadImage.png" alt="Submit" class="uploadImage" (click)="uploadImage()"> -->
                        <div class="fileUpload uploadImage">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            <input type="file" name="fileUpload"  class="upload" accept=".png, .jpg, .jpeg"  />
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-6 mt-2" >
                <div class="card">
                    <div class="card-body">
                        <h3 style="text-align: center;"><b>Activity</b></h3>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>