<div class="listView">
    <table class="table">
        
        <tbody>
          <tr *ngFor="let item of annotations">
           
            <td>{{item.audio_url}}</td>
            <td><span *ngFor="let data of item.tags.split(',');let i= index" id="tag-{{i}}" class="suggest badge badge-primary m-1">{{data}}</span></td>
            <td>{{item.station.station_name}}</td>
            <td> <span class="badge badge-warning">{{headerText}}</span> </td>
          </tr>
          
        </tbody>
      </table>
</div>
