// ******* navbar css ********//

  .navBar{
    background-color: #03a9f4 !important;
    border: 1px solid #65c0e9;
    padding: 4px 16px;
  }
  .navbar-brand{
      cursor: pointer;
      padding: 0px;
      img {
        height: 50px;
      }
      .brand-text {
        font-size: 18px;
        font-weight: 400;
      }
  }
.typography{
    display: inline;
    color: white;
    font-size: medium;
}
.nav-link{
        color:white
}
.center-display{
    color:black;
}
img {
  height: 30px;
  margin:2px;
}
.menu-text {
  color: white;
  font-size: 14px;
}