audio {
	width: 100%;
}

video {
	height: 200px
}

.timeline {
	position: relative;
}
.time-bar {
	height: 6px;
	border-radius: 4px;
	outline: none;
	margin-top: 8px;
	background-color: #d5e4fd;
	width: 100%;
	position: absolute;
	top: -3px;
}
.time-bar div {
	margin-top: 5px;
	float: right;
	padding-right: 2px;
	border-right: 2px solid slategray;
}
.time-bar span {
	margin-top: 5px;
	padding-left: 2px;
	display: inline-block;
	border-left: 2px solid slategray;
}
.bubble {
	position: absolute;
	border-radius: 5px;
	will-change: opacity,transform;
	display: inline-block;
	width: 6px;
	height: 6px;
	z-index: 1;
	background-color: #1967D2;
	top: 5px;
	opacity: 0.5;
	border: 1px solid #093499;
}


.added-annos ul {
	display: flex;
	list-style: none;
	position: absolute;
	top: 62px;
	overflow-x: auto;
	padding-left: 0px;
	width: 100%;
}

.added-annos ul li {
	margin: 5px;
	padding: 5px;
	flex: 10 0 auto;
	border: 1px solid #cddff4;
	border-radius: 5px;
	cursor: pointer;
	max-width: 150px;
	overflow-x: hidden;
}

.added-annos ul li:hover {
	background-color: #cddff4
}

.timeline-wrap {
	height: 300px;
	border-radius: 8px;
	padding: 4px 0;
	padding-right: 0px;
	margin: 4px 0px 10px;
	position: relative;
	padding-right: 0;
	background-color: rgb(240, 246, 253);
}

.frag-image {
	max-height: 107px;
	margin-left: -5px;
	max-width: 110px;
}

.fragment {
	cursor: pointer;
	background-color: #f0f6fd;
}

.fa-scissors {
	rotate: -90deg;
}
.tag-spacing {
	font-weight: normal;
	margin-right: 5px;
}
.anno-list {
	display: flex;
}
.anno-list > * {
	padding: 5px;
}
.label {
	display: block;
	font-size: 16px;
}
.frag-column {
	display: flex;
}
.frag-column input {
	flex: 2 0 0;
}
.fragment-clip-control {
	margin: auto 2px auto 2px;
	color: rgb(70, 130, 180);
	border-color: rgb(70, 130, 180);
}
.fragment-clip-control:hover {
	color: #fff;
	background-color: rgb(70, 130, 180);
	border-color: rgb(70, 130, 180);
}
code {
	margin-left: 4px;
	margin-right: 4px;
}
.timeline-heading {
	display: inline-block;
}
.timeline-view-opts{
	float: right;
	color: rgb(70, 130, 180);
	border-color: rgb(70, 130, 180);
}
.timeline-view-opts:hover {
	color: #fff;
	background-color: rgb(70, 130, 180);
	border-color: rgb(70, 130, 180);
}
.btn-outline-info {
	float: right;
	color: rgb(70, 130, 180);
	border-color: rgb(70, 130, 180);
}
.btn-outline-info:hover {
	color: #fff;
	background-color: rgb(70, 130, 180);
	border-color: rgb(70, 130, 180);
}
.media-meta-container {
	flex-direction: row;
	margin-top:5px;
}
.viewer {
	margin-top: 5px;
	padding: 5px;
	border: 1px solid #cddff4;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #fff;
}
.viewer img {
	width: 100%;
}
.badge-info {
	margin: auto 1px auto 1px;
	font-weight: normal;
}
@media (min-width: 992px) { 
	.anno-reader-wrap {
		height: 60px;
	}
 }
@media (max-width: 991.98px) { 
	.anno-reader-wrap {
		height: 380px;
	}
 }

 /* PLayer styles */
 .player-slider {
 	display: block;
 	width: 100%;
 }
 .media-toolbar {
    display: flex;
    margin-top: 10px;
 }
 .current-time-indicator {

 	font-size: 14px;
 	margin: auto;
 }
 .player-controls {
 	margin: auto;
 }
 .player-controls button {
 	margin: 5px;
 }
 .volume-control {
 	width:170px;
 	display: grid;
 	grid-template-columns: 10px 150px 10px;
 	align-items: end;
 	color: rgb(0, 123, 255);
 }

 ::ng-deep {
 	.viewer .ngx-slider .ngx-slider-tick {
 	    width: 1px;
 	    height: 10px;
 	    border-radius: 0;
 	    background: steelblue;
 	    top: 12px;
 	  }

 	.viewer .ngx-slider .ngx-slider-pointer {
 		width: 20px;
 		height: 20px;
 		top: -8px;
 	}
 	.viewer .ngx-slider .ngx-slider-pointer::after {
 		width: 8px;
 		height: 8px;
 		top: 6px;
 		left: 6px;
 	}
 	.viewer .ngx-slider .ngx-slider-bar {
 		height: 6px;
 	}
 	.viewer .ngx-slider .ngx-slider-selection {
 		background-color: cyan;
 		opacity: 1;
 		visibility: visible;
 	}
 }