<!-- Layout has Header, and Two column body -->
<header>
	<!-- Navbar component -->
	<app-navbar></app-navbar>
</header>

<section class="body container-fluid">


	<div class="row">

		<div class="body-left col-lg-9 col-md-8 col-sm-6 col-6">
			<!--div> 
				<h3>Trending Tags: 
					<a [routerLink]="['/channels/all', {tags: 'gig'}]">#Gigs</a>
					&nbsp;
					<a [routerLink]="['/channels/all', {skill: 'tutorial'}]">#Tutorials</a>
					&nbsp;
					<a [routerLink]="['/channels/all', {tags: 'Mathematics'}]">#Math Classes</a>
					&nbsp;
					<a [routerLink]="['/channels/all', {location: 'mirzapur'}]">#Mirzapur</a>
				</h3> </div-->
			<app-filter></app-filter>
			<!-- cards collection component -->
			<app-items-collection></app-items-collection>

		</div>

		<div class="body-right col-lg-3 col-md-4 col-sm-6 col-6">
			<app-channel-dropdown></app-channel-dropdown> 
			<!-- tags collection component -->
			<app-tag-collection></app-tag-collection>
		</div>

	</div>

</section>

<!-- Modal -->
<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="upload-modal" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h3 class="modal-title" id="upload-modal-label">Upload or Record</h3>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeUpload>
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		 <app-file-upload>
		  </app-file-upload>
		</div>
	   
	  </div>
	</div>
  </div>