.papad-details{
    //   ********* AUDIO CSS *********   //
    audio { 
        width: 400px; 
        align-items: center;
        box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
        border-radius: 90px;
        transform: scale(1.05);
      }
     // ********** INPUT CSS ********** //
     input[type=text] {
       width: 100%;
       border: none;
       border-bottom: 1px solid #2d98da;  
       background-color: whitesmoke;
   }
   input[type=text]:focus {
     color: black;
   }
    //   ********* BUTTON CSS *********   //
    .close-button{
        background-color: #d1d8e0; 
        border: none;
        border-radius: 2px;
        color: white;
        padding: 4px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .save-button{
        background-color: #2d98da; 
        border: none;
        border-radius: 2px ;  
        color: white;
        padding: 4px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .fileUpload {
        position: relative;
        overflow: hidden;
        font-size: .6rem !important;
        padding: .3em 1em;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    // *********** Image tag css ********* //
    img{
        width: 10vw;
        height: 100%;
        padding: 5px;
        cursor: pointer;
    }
    
    
    // ******** MATERIAL AUDIO CSS ********** //
    .main-toolbar {
        .spacer {
          flex: 1 1 auto;
        }
        .toolbar-btn {
          font-size: 16px;
          margin-right: 5px;
          cursor: pointer;
        }
      }
    
      .content {
        .logo {
          margin: 2.5rem;
          text-align: center;
          font-size: 24px;
          color: #3f51b5;
          .mat-icon {
            height: 160px !important;
            width: 160px !important;
            font-size: 160px !important;
          }
        }
      }
    
      .media-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        .time-slider {
          width: 100% !important;
          margin-left: 20px;
          margin-right: 20px;
        }
        .media-action-bar {
          width: 100%;
          padding: 2.5rem;
          justify-content: center;
          .mat-icon {
            height: 48px !important;
            width: 48px !important;
            font-size: 48px !important;
          }
        }
      }
   
   
     //  ************* listButton css ******************** //
     .listButton{
       background-color: #bdc3c7; 
       border: none;
       border-radius: 2px ;  
       color: grey;
       padding: 4px 10px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin: 2px 2px
     }
   
     // ************* SUGGEST CSS ************** // 
     .suggest{
       padding: 4px 8px;
       margin: 2px 2px;
       font-family: sans-serif;
       cursor: pointer;
     }
     .badge-success{
       padding: 8px 6px;
       margin: 0px 5px;
       cursor: pointer;
     }
    // ****************** CANCEL BUTTON CSS *****************//
    .cancel-button{
      margin-left: .5em;
      background-color: grey;
      border: none;
      border-radius: 2px ;  
      color: black;
      padding: 4px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
    
   
     // *************** PROGRESS BAR CSS ************ //
     .progress{
       width: 50px;
       height: 50px;
       line-height: 150px;
       background: none;
       margin: 0 auto;
       box-shadow: none;
       position: relative;
   }
   .progress:after{
       content: "";
       width: 100%;
       height: 100%;
       border-radius: 50%;
       border: 12px solid #fff;
       position: absolute;
       top: 0;
       left: 0;
   }
   .progress > span{
       width: 50%;
       height: 100%;
       overflow: hidden;
       position: absolute;
       top: 0;
       z-index: 1;
   }
   .progress .progress-left{
       left: 0;
   }
   .progress .progress-bar{
       width: 100%;
       height: 100%;
       background: none;
       border-width: 12px;
       border-style: solid;
       position: absolute;
       top: 0;
   }
   .progress .progress-left .progress-bar{
       left: 100%;
       border-top-right-radius: 80px;
       border-bottom-right-radius: 80px;
       border-left: 0;
       -webkit-transform-origin: center left;
       transform-origin: center left;
   }
   .progress .progress-right{
       right: 0;
   }
   .progress .progress-right .progress-bar{
       left: -100%;
       border-top-left-radius: 80px;
       border-bottom-left-radius: 80px;
       border-right: 0;
       -webkit-transform-origin: center right;
       transform-origin: center right;
       animation: loading-1 1.8s linear forwards;
   }
   .progress .progress-value{
       width: 90%;
       height: 90%;
       border-radius: 50%;
       font-size: 30px;
       line-height: 45px;
       text-align: center;
       position: absolute;
       top: 5%;
       left: 5%;
   }
   .progress.blue .progress-bar{
       border-color: #049dff;
   }
   .progress.blue .progress-left .progress-bar{
       animation: loading-2 1.5s linear forwards 1.8s;
   }
   .progress.yellow .progress-bar{
       border-color: #fdba04;
   }
   .progress.yellow .progress-left .progress-bar{
       animation: loading-3 1s linear forwards 1.8s;
   }
   .progress.pink .progress-bar{
       border-color: #ed687c;
   }
   .progress.pink .progress-left .progress-bar{
       animation: loading-4 0.4s linear forwards 1.8s;
   }
   .progress.green .progress-bar{
       border-color: #1abc9c;
   }
   .progress.green .progress-left .progress-bar{
       animation: loading-5 1.2s linear forwards 1.8s;
   }
   @keyframes loading-1{
       0%{
           -webkit-transform: rotate(0deg);
           transform: rotate(0deg);
       }
       100%{
           -webkit-transform: rotate(180deg);
           transform: rotate(180deg);
       }
   }
   @keyframes loading-2{
       0%{
           -webkit-transform: rotate(0deg);
           transform: rotate(0deg);
       }
       100%{
           -webkit-transform: rotate(144deg);
           transform: rotate(144deg);
       }
   }
   @keyframes loading-3{
       0%{
           -webkit-transform: rotate(0deg);
           transform: rotate(0deg);
       }
       100%{
           -webkit-transform: rotate(90deg);
           transform: rotate(90deg);
       }
   }
   @keyframes loading-4{
       0%{
           -webkit-transform: rotate(0deg);
           transform: rotate(0deg);
       }
       100%{
           -webkit-transform: rotate(36deg);
           transform: rotate(36deg);
       }
   }
   @keyframes loading-5{
       0%{
           -webkit-transform: rotate(0deg);
           transform: rotate(0deg);
       }
       100%{
           -webkit-transform: rotate(126deg);
           transform: rotate(126deg);
       }
   }
   @media only screen and (max-width: 990px){
       .progress{ margin-bottom: 20px; }
   }
   
   
   .wrapper {
     width: 100px; /* Set the size of the progress bar */
     height: 100px;
     position: absolute; /* Enable clipping */
     clip: rect(0px, 100px, 100px, 50px); /* Hide half of the progress bar */
     margin-top: -4vh;
   }
   /* Set the sizes of the elements that make up the progress bar */
   .circle {
     width: 80px;
     height: 80px;
     border: 10px solid green;
     border-radius: 50px;
     position: absolute;
     clip: rect(0px, 50px, 100px, 0px);
   }
   /* Using the data attributes for the animation selectors. */
   /* Base settings for all animated elements */
   div[data-anim~=base] {
     -webkit-animation-iteration-count: 1;  /* Only run once */
     -webkit-animation-fill-mode: forwards; /* Hold the last keyframe */
     -webkit-animation-timing-function:linear; /* Linear animation */
   }
   
   .wrapper[data-anim~=wrapper] {
     -webkit-animation-duration: 0.01s; /* Complete keyframes asap */
     -webkit-animation-delay: 3s; /* Wait half of the animation */
     -webkit-animation-name: close-wrapper; /* Keyframes name */
   }
   
   .circle[data-anim~=left] {
     -webkit-animation-duration: 6s; /* Full animation time */
     -webkit-animation-name: left-spin;
   }
   
   .circle[data-anim~=right] {
     -webkit-animation-duration: 3s; /* Half animation time */
     -webkit-animation-name: right-spin;
   }
   /* Rotate the right side of the progress bar from 0 to 180 degrees */
   @-webkit-keyframes right-spin {
     from {
       -webkit-transform: rotate(0deg);
     }
     to {
       -webkit-transform: rotate(180deg);
     }
   }
   /* Rotate the left side of the progress bar from 0 to 360 degrees */
   @-webkit-keyframes left-spin {
     from {
       -webkit-transform: rotate(0deg);
     }
     to {
       -webkit-transform: rotate(360deg);
     }
   }
   /* Set the wrapper clip to auto, effectively removing the clip */
   @-webkit-keyframes close-wrapper {
     to {
       clip: rect(auto, auto, auto, auto);
     }
   }
   /* Top right text */
   .top-right {
     position: absolute;
     top: 8px;
     right: 16px;
   }
   
   // ************* img-download css ***************** //
   .img-download{
     position: relative;
     display: inline-block;
   }
   .img-download > a {
     position: absolute;
     bottom: 0;
     left: 0;
   }
   
   
   #img-upload{
     width: 100%;
   }
   
   // ***************** iconShow css *************** //
   .iconShow{
     color: green;
     background-color: white;
     font-size: 1.5em;
   }
   // **************** iconHide css **************** //
   .iconHide{
     display: none;
   }

}