<div class="papad-details">
    <div class="container mt-4">
        <mat-basic-audio-player [audioUrl]="msbapAudioUrl" [autoPlay]="playAudio" [title]="msbapTitle" id="audio"
            [displayTitle]="msbapDisplayTitle">
        </mat-basic-audio-player>
        <div class="row mt-4">
            <div class="col-lg-12" >
                <div class="img-download" *ngFor="let image of album; let i=index">
                    <img [src]="image.thumb" (click)="open(i)" />
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12">
                <input type="text" name="imageUr" class="textInput" placeholder="Add image Url" accept='image/*'
                    (change)="onSelectFile($event.target.value)">

            </div>
            <!-- <div class="col-lg-2 col-md-3 col-sm-6" *ngIf="uploadImage">
                <img [src]="url" height="200">
            </div> -->
            <!-- <div class="col-lg-2 col-md-3 col-sm-6" *ngIf="progressbar">
                <div class="wrapper" data-anim="base wrapper">
                    <div class="circle" data-anim="base left"></div>
                    <div class="circle" data-anim="base right"></div>
                </div>
            </div> -->
            <div class="col-lg-12 mt-4">
                <h4><b>Suggested Tag:</b></h4>
                <span *ngFor="let item of suggestedTag;let i= index" id="tag-{{i}}" class="suggest badge badge-primary"
                    (click)="onSuggestedTag(item,$event.target)">{{item}}</span>
            </div>
            <div class="col-lg-12 mt-4">
                <tag-input [(ngModel)]='suggestedTag' [separatorKeyCodes]="[32, 188]" (onAdd)="sugestedClick($event)">
                </tag-input>
                <!-- <input type="text" placeholder="Enter Suggested tag" id="inputField" name="tag" [(ngModel)]="changeTag" 
                    class="textInput" (change)="sugestedClick($event.target.value)" /> -->
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12">
                <button type="button" (click)="onCancel()" class="cancel-button pull-right">
                    Cancel
                </button>
                <button type="button" (click)="onSave()" class="save-button pull-right">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>