.admin{
  margin-top: -5em;
  @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#03a9f4;
border-right:1px solid white;
position:absolute;
top:4.3em;
bottom:0;
height:90.5%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:white;
font-family: arial;
font-size: 16px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#03a9f4;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

  .w3-sidebar{
    background:  #03a9f4;
    color: white;
    @media screen and (min-width: 768px) {
      a{
        padding-top:1em;
        padding-bottom: 1em;
      }
    }
  }
  
    .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 5em;
        left: 0;
        background-color: none;
        overflow-x: hidden;
        border-right: 1px solid #b2bec3;
      }
      
      .sidenav a {
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      .main {
        margin:5em 0em auto 17em;
        width: 75%;
        padding: 5px;
        text-align: center;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
    //   ***************** UL CSS ****************** //
    ul{
        list-style: none;
        line-height: 3.4em;
        margin-left: -2.7em;
    }
    li{
        text-align: center;
        border-bottom: 1px solid #b2bec3;
        cursor: pointer;
        font-size: 18px;
    }
    // **************** SOCIAL LINK CSS *********** //
    .sosial-links a{
        display: block;
        float: left;
        width: 36px;
        height: 36px;
        border: 2px solid #909090;
        border-radius: 20px;
        margin-right: 7px; /*space between*/
    
    } 
    .sosial-links a i{
        padding: 8px 8px;
        font-size: 20px;
        color: #909090;
    }

    // ********************* sidenav css ************************ //
    .left,
    .right {
        float: left;
        position: fixed;
    }
    @media only screen and (min-width: 992px) {
        .left,
        .right  {
            top:11.4%;
          }
        }
        @media only screen and (max-width: 1024px) {
            .left,
            .right  {
                top:5%;
              }
            }
            @media only screen and (min-height: 1024px) {
              .left,
              .right  {
                  top:9%;
                }
              }
              @media only screen and (max-width: 812px) {
                .left,
                .right  {
                    top:20%;
                  }
                }
                @media only screen and (max-width: 768px) {
                  .left,
                  .right  {
                      top:9.5%;
                    }
                  }
                  @media only screen and (max-width: 736px) {
                    .left,
                    .right  {
                        top:18%;
                      }
                    }
                    @media only screen and (max-width: 640px) {
                      .left,
                      .right  {
                          top:20%;
                        }
                      }
                @media only screen and (max-width: 568px) {
                  .left,
                  .right  {
                      top:24%;
                    }
                  }
            @media only screen and (max-width: 414px) {
                .left,
                .right  {
                    top:13%;
                  }
                }
                @media only screen and (max-width: 375px) {
                    .left,
                    .right  {
                        top:16%;
                      }
                    }
                    @media only screen and (max-width: 360px) {
                      .left,
                      .right  {
                          top:18%;
                        }
                      }
                @media only screen and (max-width: 271px) {
                    .left,
                    .right  {
                        top:26%;
                      }
                    }
                     @media only screen and (max-width: 320px) {
                    .left,
                    .right  {
                        top:24%;
                      }
                    }
    .left {
        background: #487eb0;
        display: inline-block;
        white-space: nowrap;
        width: 50px;
        transition: width .5s;
    }

    .right {
        background: #fff;
        width: 350px;
        transition: width 1s;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
    }

    .left:hover {
        width: 250px;
    }

    .item:hover {
        background-color: #222;
    }

    .left .fas {
        margin: 15px;
        width: 20px;
        color: #fff;
    }

    i.fas {
        font-size: 17px;
        vertical-align: middle !important;
    }

    .item {
        height: 50px;
        overflow: hidden;
        color: #fff;
    }
.mainTable{
  // overflow-x: scroll;
  // overflow-y: hidden;
  margin-top: 4em;
  overflow:hidden;
  white-space: nowrap;
}

