
<div class="admin">
    <nav class="main-menu">
        <ul>
            <li>
                <a (click)="recordClick()">
                    <i class="fa fa-headphones fa-2x" aria-hidden="true"></i>

                    <span class="nav-text">
                       Recording
                    </span>
                </a>
              
            </li>
            <li class="has-subnav">
                <a (click)="addChannel()" >
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">
                        Channels
                    </span>
                </a>
                
            </li>
           
        </ul>

       
    </nav>
    <!-- <div class="w3-sidebar w3-bar-block" style="width:15%"> -->
        <!-- <a (click)="userClick()" class="w3-bar-item w3-button w3-border-bottom">Users</a> -->
        <!-- <a (click)="recordClick()" class="w3-bar-item w3-button w3-border-bottom">Recording</a> -->
        <!-- <a (click)="addChannel()" class="w3-bar-item w3-button w3-border-bottom">Channels</a> -->
        <!-- <a (click)="addChannel()" class="w3-bar-item w3-button w3-border-bottom">Settings</a>
        <a (click)="addChannel()" class="w3-bar-item w3-button w3-border-bottom">Tags</a>
        <a (click)="addChannel()" class="w3-bar-item w3-button w3-border-bottom">Voice Upload</a>
        <a (click)="addChannel()" class="w3-bar-item w3-button w3-border-bottom">Images</a>
        <a (click)="addChannel()" class="w3-bar-item w3-button w3-border-bottom">My Accounts</a> -->
      <!-- </div> -->
  
    <!-- <div class="left">
        <div class="item">
            <i class="fas fa-fw fa-bars"></i>
        </div>
        <div class="item active" (click)="userClick()">
            <i class="fas fa-user-friends"></i> Users
        </div>
        <div class="item" (click)="recordClick()">
            <i class="fas fa-microphone-alt"></i> Records
        </div>
        <div class="item" (click)="addChannel()">
            <i class="fas fa-fw fa-th"></i> Channels
        </div>
        <div class="item">
            <i class="fas fa-cog"></i> Settings
        </div>
        <div class="item">
            <i class="fas fa-tags"></i> Tags
        </div>
        <div class="item">
            <i class="fas fa-microphone"></i> Voice Upload
        </div>
        <div class="item">
            <i class="fas fa-images"></i> Images
        </div>
        <div class="item">
            <i class="fas fa-file-invoice"></i>My Accounts
        </div>
    </div> -->
    <!-- <div class="main"> -->
        <!-- <div class="mainTable"> -->
            <!-- <p-table [value]="users">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Id</th>
                        <th>Email</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>{{user.name}}</td>
                        <td>{{user.id}}</td>
                        <td>{{user.email}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="sosial-links pull-right mt-2">
            <a href="#"><i class="fa fa-plus fa-lg"></i></a>

        </div> -->
        <!-- <app-admin-dashboard></app-admin-dashboard> -->
        <!-- </div> -->
    <!-- </div> -->
</div>