<div class="channelTable">

    <p-table [value]="stationsData"  [scrollable]="true" scrollHeight="200px" [resizableColumns]="true">
      <ng-template pTemplate="header">
          <tr>
              <th>Channel Name</th>
              <th>Channel Image Url</th>
              <th>Edit</th>
          </tr>
          
      </ng-template>
      <ng-template pTemplate="body" let-data>
          <tr>
              <td>{{data.station_name}}</td>
              <td><img [alt]="data.station_image" src={{data.station_image}} width="32" style="vertical-align: middle" /></td>
              <td><i class="fa fa-pencil" (click)="editChannel(data)"></i></td>
          </tr>
      </ng-template>
      
    </p-table>
  </div>