<div class="container">
  <div [hidden]="submitted">

    <form (ngSubmit)="onSubmit()" #mediaForm="ngForm" >
      <div class="form-group">
        <label for="name">File Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel" onfocus="this.value=''">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="describe"
               [(ngModel)]="model.description" name="description" onfocus="this.value=''">
      </div>
      <div class="form-group">
        <label for="author">Author or Speaker</label>
        <input type="text" class="form-control" id="author"
               [(ngModel)]="model.author" name="author" #author="ngModel" onfocus="this.value=''" onkeyup="this.value = this.value.toLowerCase();">

      </div>
      <div class="form-group">
        <label for="location">Place Name</label>
        <input type="text" class="form-control" id="location"
               [(ngModel)]="model.location" name="location" #location="ngModel" onfocus="this.value=''" onkeyup="this.value = this.value.toLowerCase();">

      </div>
      <div class="form-group">
        <label for="skill">Skill</label>
        <input type="text" class="form-control" id="skill"
               [(ngModel)]="model.skill" name="skill" #skill="ngModel" onfocus="this.value=''" onkeyup="this.value = this.value.toLowerCase();">

      </div>

      <div class="form-group">
        <label for="tags">Tags</label>
        <input type="text" class="form-control" id="tags"
               [(ngModel)]="model.tags" name="tags" #tags="ngModel" onfocus="this.value=''">

      </div>

      <button type="submit" class="btn btn-success" [disabled]="!mediaForm.form.valid">Submit</button>
     

  
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name: </div>
      <div class="col-xs-9">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Description: </div>
      <div class="col-xs-9">{{ model.description }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Tags: </div>
      <div class="col-xs-9">{{ model.tags }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>

