<!-- Layout has Header, and Two column body -->
<header>
	<!-- Navbar component -->
	<app-navbar></app-navbar>
</header>

<section class="body container-fluid">

	<iframe src="https://embed.kumu.io/2c2b83fb76253407f42f0dce3f8480e3" width="100%" height="600" frameborder="0"></iframe> 
</section>