<div class="admin">
  <app-admin></app-admin>
  <!-- <div class="w3-sidebar w3-bar-block" style="width:15%"> -->
   <!-- <a (click)="userClick()" class="w3-bar-item w3-button w3-border-bottom">Users</a> -->
   <!-- <a (click)="recordClick()" class="w3-bar-item w3-button w3-border-bottom">Recording</a> -->
   <!-- <a (click)="addChannel()" class="w3-bar-item w3-button w3-border-bottom">Channels</a> -->
   <!-- <a (click)="addChannel()" class="w3-bar-item w3-button w3-border-bottom">Settings</a>
   <a (click)="addChannel()" class="w3-bar-item w3-button w3-border-bottom">Tags</a>
   <a (click)="addChannel()" class="w3-bar-item w3-button w3-border-bottom">Voice Upload</a>
   <a (click)="addChannel()" class="w3-bar-item w3-button w3-border-bottom">Images</a>
   <a (click)="addChannel()" class="w3-bar-item w3-button w3-border-bottom">My Accounts</a> -->
 <!-- </div> -->
 <div class="record">  
     <h3><b>ADD RECORDING</b></h3>
     <form [formGroup]="recordForm" (ngSubmit)="addRecords()">
         <div class="form-group row">
           <label for="staticEmail" class="col-sm-2 col-form-label">Audio Url<span class="required">*</span></label>
           <div class="col-sm-10">
             <input type="text"  class="form-control" id="staticNAme" name="recordName" formControlName="audio_url" [(ngModel)]="audio_url"   placeholder="Enter the audio url" required> 
           </div>
         </div>
         <div class="form-group row">
             <label for="staticEmail" class="col-sm-2 col-form-label">Tags <span class="required">*</span></label>
             <div class="col-sm-10">
               <input type="text"  class="form-control" id="staticEmail" name="recordTag" formControlName="tags" [(ngModel)]="tags"   placeholder="Enter the tags" required>
             </div>
           </div>
           <div class="form-group row"> 
             <label for="staticEmail" class="col-sm-2 col-form-label">Channels <span class="required">*</span></label>
             <div class="col-sm-10">
                 <p-dropdown [options]="stationsData" name="channel" formControlName="channelSelected" [(ngModel)]="selectedChannel" placeholder="Select a Channel" [required]="false"
                 (onChange)="selectChannel($event)">
                   <ng-template let-item pTemplate="selectedItem">
                     <img src={{item.image}} style="width:16px;vertical-align:middle" />
                     <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
                   </ng-template>
                   <ng-template let-type pTemplate="item">
                     <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                       <img src="{{type.image}}" style="width:24px;position:absolute;top:1px;left:5px" />
                       <div style="font-size:14px;float:right;margin-top:4px">{{type.label}}</div>
                     </div>
                   </ng-template>
                 </p-dropdown>
             </div>
           </div>
         <div class="form-group row">
           <label for="inputPassword" class="col-sm-2 col-form-label">Image <span class="required">*</span></label>
           <div class="col-sm-10">
             <input type="text" class="form-control" id="role" name="recordImage" formControlName="img_tags" [(ngModel)]="img_tags"  placeholder="Enter Image Url" required>
           </div>
         </div>
         <button type="submit" [disabled]="!recordForm.valid" class="btn btn-primary btn-block pull-right">Add Recording</button>
       </form>
 </div>
 <!-- RECORD TABLE -->
 <app-recording-table (messageEvent)="receiveMessage($event)"></app-recording-table>
 </div>