.br-btm {
	border-bottom-width: 1px !important;
}
.btn-fw {
	width: 100%;
	text-align: left;
}

.ingested {
	background-color: #e3e2e2;
}

.not-ingested {
	background-color: none;
}
.badge {
	font-weight: normal;
	margin-right: 5px;
}
.edit-btn {
	width:25px;
	height: 25px;
	background-image: url("../../assets/icons/edit.png");
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
}