<!-- Layout has Header, and Two column body -->
<header>
	<!-- Navbar component -->
	<app-navbar></app-navbar>
</header>
<section class="body container-fluid mt-4">

    <p-tabView>
        <p-tabPanel header="Card View">
           <!-- cards collection component -->
                <app-items-collection></app-items-collection>
    
        </p-tabPanel>
        <p-tabPanel header="List View">
            <app-list-collection></app-list-collection>
        </p-tabPanel>
        <p-tabPanel header="Tag Input">
            <!-- Tag Input -->
            <tag-input [ngModel]="['@item']"
            [addOnBlur]="true"
            [clearOnBlur]="true">
     <tag-input-dropdown [autocompleteItems]="autocompleteItems">
     </tag-input-dropdown>
 </tag-input>
        </p-tabPanel>
    </p-tabView>
    </section>