.papad{
    margin-top: 2em;
// ******** card css *******//
.card{
    border: none;
    border-radius: 4px;
    max-width: 225px;
    cursor: pointer;
    // position:relative;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
    .footer{             /* added */
       margin-top: 5px; 
    }
}

.card:hover{
    /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-body{
    padding: 1em;
}
//******* video css *********//
.video{
    margin: 5px 5px;
    width: 200px;
}
// ****** icons css ********//
.icons{
    width: 100%;
}

.fa-cloud{
    font-size:60px; 
    color:lightblue;
    text-shadow:2px 2px 4px #000000;
    cursor: pointer;
}
.fa-play{
    font-size:25px; 
    color:lightgrey;
    cursor: pointer;
    transition: transform .2s; /* Animation */
}
.fa-play:hover{
    color: #8395a7;
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.fa-tag{
    // margin-left: 20px;
    float: right;
    // position: absolute;
    font-size:25px; 
    color:lightgrey;
    cursor: pointer;
    transition: transform .2s; /* Animation */
}
.tag{
    text-align: center;
    margin-left: 3em;
}
@media screen and (max-width: 413px) {
    .tag{
        margin-left: 2em;
    }
  }
// ************* suggest tag ***************//
 // ************* SUGGEST CSS ************** // 
 .suggest{
    padding: 4px 8px;
    margin: 2px 2px;
    font-weight: 500;
    cursor: pointer;
  }
  .badge-success{
    cursor: pointer;
  }
  .suggest-selected {
    background-color: #8395a7;
  }
.fa-tag:hover{
    color: #8395a7;
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.fa-heart{
    float: right;
    font-size: 25px;
    color: lightgrey;
    cursor: pointer;
    transition: transform .2s; /* Animation */
}
.fa-heart:hover{
    color: #8395a7;
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.tags{
    padding: 8px 6px;
    margin: 0px 5px;
    cursor: pointer;
}
// ********************* collectImages css ********************* //
.collectImages{
    text-align: center;
    min-height: 60%;
    /*width: 100%;
    height: auto;
    max-height: 200px;*/
    img {
        border-radius: 3px;
    }
}
}
// ************************** sideBar css   ********************** //
.sideBar{

    h4{
        text-align: center;
        margin-top: 1em;
    }
    ul{
        list-style: none;
        margin-left: -4em;
        line-height: 2em;
    }
    li{
        text-align:center;
        cursor: pointer;
        padding: 6px 10px 6px 6px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        font-size: 15px;
    }
    li:focus{
        background-color: #8395a7;
    }
    //  ************************ CLOSE CSS ******************** //
    .close{
        margin-top: -2em;
        font-size:1em;
        visibility:hidden;
    }
      // ***************** iconShow css *************** //
   .iconShow{
    color: white;
    margin-top: -2.5em;
    font-size:1em;
  }
  // **************** iconHide css **************** //
  .iconHide{
    display: none;
  }
//   **************** colorVisible css **************** //
.colorVisible{
    background-color: "#8395a7";
}
.colorNotVisible{
    background-color: "#fff";
}
}


