<header>
	<!-- Navbar component -->
	<app-navbar></app-navbar>
</header>

<div class="container">
	<div class="jumbotron">
		<h1 class="display-4">Papad Audio Tagger</h1>
		  <p class="lead">A community-oriented content curation for audio files</p>
		  <hr class="my-4">
		  <p>An application designed to listen and tag audio files. These tags (the meta information) can then be used to search, sort and share a large collection of audio files.</p>
		  <p class="lead d-flex justify-content-center">
        <!--a class="btn btn-lg" href="/ingest" role="button">
          <img src="../assets/icons/record.png" class="rounded" alt="ingest thumbnail" /> 
          Record
        </a-->

		    <a class="btn btn-lg" href="/ingest">
		    	 <img src="../assets/icons/upload.png" class="rounded" alt="ingest thumbnail" /> 
		    	 Upload
		    </a>

		    <a class="btn btn-lg" href="/channels/{{channel}}" role="button">
		    	 <img src="../assets/icons/list.png" class="rounded" alt="digest thumbnail" /> 
		    	 All Recordings
		    </a>

		    <a class="btn btn-lg" href="/connections" role="button">
		    	 <img src="../assets/icons/connect.png" class="rounded" alt="connect thumbnail" />
		    	 Connections 
		    </a>
		  </p>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="upload-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="upload-modal-label">Upload or Record</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeUpload>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <app-file-upload>
        </app-file-upload>
      </div>
     
    </div>
  </div>
</div>