<div class="categories">
	<h3> Categories</h3>
	<button role="button" *ngFor="let category of categories" 
	class="btn btn-outline-primary">
		<span>{{ category.value }}</span>
		<img src="{{ fileIndex+category.icon }}" class="img-responsive category-icon" />
	</button>

	<button role="button" 
	class="btn btn-outline-primary" 
	data-toggle="modal" data-target="#upload-modal"
	>Add +
	</button>
</div>

<div><h3>All Recordings</h3></div>
<div class="cards-grid">
	<span *ngFor="let anno of stagedData">
		<app-item-card [imageTags]="anno.img_tags" [tags]="anno.tags" [id]="anno._id['$oid']" [headerText]="anno.name || ''" (click)="gotToDetailPage(anno)"></app-item-card>
	</span>
</div>


<!-- Modal -->
<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="upload-modal" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h3 class="modal-title" id="upload-modal-label">Add Category</h3>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeUpload>
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		 	<form [formGroup]="addCategoryForm" (submit)="addCategory()">
		 		<div class="form-group">
		 			<label for="cat-value">Category Name</label>
		 			<input type="text" class="form-control" id="cat-value"
		 			       required
		 			       formControlName="value"
		 			       placeholder="Eg. Diabetes"
		 			       >
		 		</div>
		 		<file-upload formControlName="icon"></file-upload>

		 		    <button class="btn btn-primary" type="submit">
		 			Submit
		 			</button>
		 	</form>
		</div>
	   
	  </div>
	</div>
  </div>